.side-item {
  background-color: transparent;
}
.side-item:hover,
.active {
  background-color: var(--gray-300);
}
.title h3 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
.box-description span {
  font-size: 14px;
  line-height: 14px;
}
.item {
  width: 100%;
}
.item > label {
  width: 40%;
}
.item > div {
  min-width: 250px;
  width: 60%;
  & > input {
    width: 250px;
  }
}
