.side-item {
	background-color: transparent;
}
.side-item:hover,
.active {
	background-color: var(--gray-300);
}
.title h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
.box-description span {
	font-size: 14px;
	line-height: 14px;
}

.refund-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 20%; /* Rounded border */
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  input:checked ~ .checkmark::after {
    display: block;
  }
}
.custom-input {
  width: 50px; /* Adjust as needed */
  height: 30px;
  border: 1px solid gainsboro; /* Add a border with blue color */
  border-radius: 15%;
  color:#2196f3;
  // background-color: blue($color: #000000);
  text-align: center;
  font-weight: bold;
  font-weight: 500;


  // font-size: 16px;
}
