.title h3 {
	font-size: 24px;
}.title h5 {
	font-size: 20px;
}
.box-item img{
  width: auto;
  height: 100%;
}
.box-title {
	font-size: 20px;
}
.box-description {
	font-size: 16px;
}
.price {
}
.price span {
	margin-right: 12px;
}
.price span:first-child {
	font-weight: 500;
	color: rgb(224, 0, 0);
}
.price span:last-child {
	font-size: 14px;
	color: var(--gray-600);
	text-decoration: line-through;
}
.input-qty {
	width: 100%;
}
.input-qty input {
	width: 100%;
}
.input-box-item input {
	width: 100%;
}
.logo-bank > div {
	cursor: pointer;
}
.logo-bank > .active {
	border-color: var(--dark) !important;
}
.logo-bank img {
	height: 32px;
}
.subtract span:last-child {
	color: red;
}
.plus span:last-child {
	color: green;
}
input {
	font-size: 14px;
}
/* ---------------------------
  Recommend
  */
.recomment-item {
	border-radius: 8px;
	background-color: var(--white);
	border: 2px solid var(--gray-200);
}

svg {
	height: 14px;
	color: var(--bs-primary);
}
.price {
	font-size: 18px;
	font-weight: 500;
}
.name h5 {
	font-size: 16px;
	font-weight: 400;
	opacity: 0.8;
}
.recomment .col {
	padding-top: 1rem !important;
}
.recomment .col + .col {
	padding-left: 1rem !important;
}
.recomment-item-content > .price {
	text-align: left !important;
	font-size: 16px;
}
.recomment-item-content {
	display: flex;
	flex-direction: column;
}
