.direction-item {
	display: inline-block;
	width: fit-content;
}
.direction-item a {
	font-size: 16px;
	color: var(--gray-500);
}
.arrow {
	display: inline-block;
	margin: 0 12px;
}
.img-slide {
	width: auto;
	max-width: 100%;
	height: calc(500px - 32px);
	margin: 0 auto;
}
.product-image {
	position: relative;
}
/* ----------------------------- */
.status img {
	margin-right: 8px;
	width: 14px;
	height: 14px;
}
.products-item {
}
.product-content,
.product-favorite {
	display: inline-block;
}
.product-image div {
}
.product-favorite {
	width: 5%;
	min-width: 40px;
}
.product-name {
	font-size: 20px;
	font-weight: 500;
}
.price {
}
.price span {
	margin-right: 12px;
}
.price span:first-child {
	font-weight: 500;
	color: rgb(224, 0, 0);
}
.price span:last-child {
	font-size: 14px;
	color: var(--gray-600);
	text-decoration: line-through;
}
.product-description {
	font-size: 15px;
	color: var(--gray-800);
}
.product-details a {
	color: var(--bs-primary);
}
.product-details a:hover {
	text-decoration: underline;
}
.product-favorite {
}
.product-favorite button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.product-favorite button svg {
	width: 100%;
	height: 100%;
}
.product-favorite button:hover svg {
	color: brown;
}
.product-favorite.active button {
	background-color: red;
}
.product-favorite.active button svg {
	color: var(--white);
}
.product-sale span,
.product-point {
	margin-left: 10px;
}

.link-box {
	cursor: pointer;
	min-width: 200px;
}
input {
}
.product-action button {
	height: 40px;
}
.title span {
	cursor: pointer;
	color: var(--bs-primary);
}
.title span:hover {
	text-decoration: underline;
}
/* ---------------------------- */
/* detail product */
.detail-product{}

.description-active > .detail-product-navbar > button:first-child,
.review-active > .detail-product-navbar > button:last-child {
	border-bottom: 2px solid var(--bs-primary);
}
.detail-product-navbar > button {
	cursor: pointer;
}
/* -------------------------------- */
/* review */
.review-info {
	flex-direction: column;
}
.review-name {
	font-size: 17px;
	font-weight: 500;
}
.review-type {
	font-size: 14px;
	color: var(--gray-600);
}
.svg-star svg {
	height: 12px;
}
.description-active ~ .review,
.review-active ~ .description-content {
	display: none;
}
/* ---------------------------
  Recommend
  */
.recomment-item {
	border-radius: 8px;
	background-color: var(--white);
	border: 2px solid var(--gray-200);
}
.price {
	font-size: 18px;
	font-weight: 500;
}
.name h5 {
	font-size: 16px;
	font-weight: 400;
	opacity: 0.8;
}
.recomment .col {
	padding-top: 1rem !important;
}
.recomment .col + .col {
	padding-left: 1rem !important;
}
.recomment-item-content > .price {
	text-align: left !important;
	font-size: 16px;
}
.recomment-item-content {
	display: flex;
	flex-direction: column-reverse;
}
